#navigation {
    background-color: black;
}

#jumbo {
    background-color: black;
    color: cyan;
    text-align: center;
}

#cards  {
    background-color: black;
    text-align: center;
}

.card {
    background-color: black;
    color: white;
}

body {
    background-color: black;
  }

#contact {
    text-align: center;
    color: #007bff;
}

h5  {
    text-align: center;
}

p   {
    text-align: center;
}

#Port   {
    text-align: center;
    color: white;
}

#odoses {
    color: white;
}

#foot   {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#oscar  {
    width: 100%;
}