#navigation {
    background-color: black;
}

#jumbo {
    background-color: black;
    color: cyan;
    text-align: center;
}

#cards  {
    background-color: black;
    text-align: center;
}

.card {
    background-color: black;
    color: white;
}
